/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    /* 1rem = 16px */
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}

button{
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    font-size: 0.875rem;
    padding: 13px 32px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
}

button:hover{
    background-color: white;
    color: black;
    border-color:#ff0e83;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul{
    list-style: none;
}
.header__content ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s;

}

.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content p{
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
}

.header__content ul li a:hover{
    color: #ff0e83;
}
.header__content ul .active a{ 
    color: #ff0e83;
}

/* CAROUSEL */
.carousel{
    background-image: url(../img/b3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    text-align: center;
    color: white;
    /* chỉ được áp dụng khi chỉ có 1 thẻ con duy nhất */
    display: flex;
    /* chỉ dùng khi thẻ con còn trống */
    justify-content: center;
    align-items: center;
}

.carousel .carousel__content h1{
    font-size: 3.5rem;
    text-transform: capitalize;
}

.carousel .carousel__content p{
    font-size: 1.1rem;
    margin: 23px 0;
}
/* INTRO */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4, 25%); */
    /* fr: phân số */
    /* mỗi column 1/4 */
    grid-template-columns: repeat(4, 1fr);
}

.intro__ab1{
    /* số line bắt đầu của item, và số line kết thúc */
    /* số cột mà nó chiếm */
    grid-column: 2 / 4;
    /* grid-column: 2 / span 2(số cột mà item chiếm); */
}

.intro__text1{
    grid-column: 1 / 3;
}

.intro__ab4{
    grid-column: 3 / 5;
}

.intro__item img{
    width: 100%;
    /* để cho nó chuyển sang dạng khác khỏi hở */
    display: block;

}

.intro__item{
    display: flex;
    text-align: center;
    align-items: center;
}

.intro__text{
    padding: 0 32px;
}

.intro__item h3{
    color: white;;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro__item p{
    font-size: 0.785rem;
    color: #c1c1c1;
    line-height: 29px;
}
.intro .intro__item:first-child, .intro .intro__item:nth-child(8){
    background-color: #4e2a84;
} 

.intro .intro__item:nth-child(3){
    background-color: #ff0e83;
}

.intro .intro__item:nth-child(4){
    background-color: #ed6498;
}

.intro .intro__item:nth-child(6){
    background-color: #836eaa;
}
.intro__ab3 img{
    height: 475px;
}
/* NUMBER */
.number__content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.number__item{
    text-align: center;
}
.number__item h1{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}

.number__item p{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICE */
.service{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
    text-align: center;
}

.service h2{
    color: white;
}

.service__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__item i{
    width: 105px;
    height: 105px;
    /* line-height chỉ dùng khi chỉ có 1 dòng */
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all 0.5s;
}
.service__item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500px;
}

.service__item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}

.service__item button{
    padding: 12px 27px;
    border-width: 2px;
}

.service__item:hover i{
    color: #ff0e83;
    
}

/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 15px;
}

.gallery__g1{
    grid-column: 1 / 3;
}

.gallery__g6{
    grid-column: 3 / 5;
}

.gallery__item img{
    width: 100%;
    height: 100%;
}
.gallery__item{
    position: relative;
    /* sẽ bị ẩn tất cả thẻ con khi bị lố khỏi thẻ cha */
    overflow: hidden;
}
.gallery__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 132, 163, 0.2);
    color: white;
    padding: 38px 28px;
    text-align: right;
}

.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;
}

.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}

.gallery__overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__overlay h3 span{
    font-weight: 300;
}

.gallery__overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all .5s;
}

.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}



/* TEAM */
/* FEEDBACK */
/* CONTACT */
/* FOOTER */